
name: Build

on:
  push:
    branches:
      - 'master'
      - 'feature/**'
      - 'pr/**'
    paths-ignore:
      - 'CHANGES'
      - 'CODEOWNERS'
      - 'doc/**'
      - 'openvdb_maya/**'
      - 'openvdb_houdini/**'
      - 'fvdb/**'
      - 'pendingchanges/**'
      - '**.md'
  pull_request:
    branches:
      - '**'
    paths-ignore:
      - 'CHANGES'
      - 'CODEOWNERS'
      - 'doc/**'
      - 'openvdb_maya/**'
      - 'openvdb_houdini/**'
      - 'fvdb/**'
      - 'pendingchanges/**'
      - '**.md'
  schedule:
    # run this workflow Sunday 00:00 UTC
    - cron:  '0 0 * * 0'
  workflow_dispatch:
    inputs:
      type:
        description: 'The type of CI to run (all, linux, win, mac)'
        required: true
        default: 'all'

# Allow subsequent pushes to the same PR or REF to cancel any previous jobs.
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash


# jobs:
#   linux:
#     if: |
#       github.event_name != 'workflow_dispatch' ||
#       github.event.inputs.type == 'all' ||
#       github.event.inputs.type == 'linux'
#     strategy:
#       matrix:
#         config:
#           - { name: 'rel',       cxx: clang++, image: '2026', abi: 13, build: 'Release', components: 'core,py,bin,test,', cmake: '' }
#           - { name: 'ax-rel',    cxx: clang++, image: '2026', abi: 13, build: 'Release', components: 'core,py,bin,test,ax,axbin,axtest', cmake: '' }
#           - { name: 'nano-rel',  cxx: clang++, image: '2024', abi: 13, build: 'Release', components: 'core,nano,nanotest,nanotools', cmake: '-DCMAKE_POSITION_INDEPENDENT_CODE=ON -DUSE_EXPLICIT_INSTANTIATION=OFF' }
#       fail-fast: false
#     uses: ./.github/workflows/template-linux.yaml
#     with:
#       cxx: ${{ matrix.config.cxx }}
#       image: ${{ matrix.config.image }}
#       abi: ${{ matrix.config.abi }}
#       build: ${{ matrix.config.build }}
#       components: ${{ matrix.config.components }}
#       cmake: ${{ matrix.config.cmake }}


jobs:
  linux:
    if: |
      github.event_name != 'workflow_dispatch' ||
      github.event.inputs.type == 'all' ||
      github.event.inputs.type == 'linux'
    strategy:
      matrix:
        config:
          - { os: 'linux', name: 'rel',       cxx: clang++, image: '2026', abi: 13, build: 'Release', components: 'core,py,bin,test,', cmake: '' }
          - { os: 'linux', name: 'dbg',       cxx: clang++, image: '2026', abi: 13, build: 'Debug',   components: 'core,py,bin,test,', cmake: '' }
          - { os: 'linux', name: 'gcc',       cxx: g++,     image: '2026', abi: 13, build: 'Release', components: 'core,py,bin,test,', cmake: '' }
          - { os: 'linux', name: '2025',      cxx: clang++, image: '2025', abi: 12, build: 'Release', components: 'core,py,bin,test,', cmake: '' }
          - { os: 'linux', name: '2024',      cxx: clang++, image: '2024', abi: 11, build: 'Release', components: 'core,py,bin,test,', cmake: '-DDISABLE_DEPENDENCY_VERSION_CHECKS=ON' }
          # Weekly
          - { os: 'linux', name: 'all',       cxx: clang++, image: '2026', abi: 13, build: 'Release', components: 'core,py,bin,test', cmake: '-DOPENVDB_PYTHON_WRAP_ALL_GRID_TYPES=ON -DUSE_BLOSC=ON -DUSE_ZLIB=ON -DUSE_EXR=ON -DUSE_PNG=ON'  }
          - { os: 'linux', name: 'lite',      cxx: clang++, image: '2026', abi: 13, build: 'Release', components: 'core,py,bin,test', cmake: '-DUSE_BLOSC=OFF -DUSE_ZLIB=OFF -DUSE_EXR=OFF -DUSE_PNG=OFF -DOPENVDB_USE_DELAYED_LOADING=OFF' }
          - { os: 'linux', name: 'half',      cxx: clang++, image: '2026', abi: 13, build: 'Release', components: 'core,py,bin,test', cmake: '-DUSE_IMATH_HALF=ON' }
          - { os: 'linux', name: 'simd',      cxx: clang++, image: '2026', abi: 13, build: 'Release', components: 'core,py,bin,test', cmake: '-DOPENVDB_SIMD=SSE42 -DOPENVDB_SIMD=AVX' }
          - { os: 'linux', name: 'asan',      cxx: clang++, image: '2026', abi: 13, build: 'asan',    components: 'core,test',        cmake: '-DDISABLE_DEPENDENCY_VERSION_CHECKS=ON -DNANOVDB_USE_OPENVDB=ON -DOPENVDB_AX_STATIC=OFF -DOPENVDB_CORE_STATIC=OFF -DUSE_BLOSC=OFF' } # We never called blosc_destroy(), so disable blosc to silence these errors
          - { os: 'linux', name: 'ubsan',     cxx: clang++, image: '2026', abi: 13, build: 'ubsan',   components: 'core,test',        cmake: '-DDISABLE_DEPENDENCY_VERSION_CHECKS=ON -DCMAKE_CXX_FLAGS="-Wno-deprecated-declarations" ' }
          - { os: 'linux', name: 'c++20',     cxx: clang++, image: '2026', abi: 13, build: 'Release', components: 'core,test',        cmake: '-DCMAKE_CXX_STANDARD=20' }
          - { os: 'linux', name: 'conf',      cxx: clang++, image: '2026', abi: 13, build: 'Release', components: 'core',             cmake: '-DCMAKE_FIND_PACKAGE_PREFER_CONFIG=ON' }
          # AX
          - { os: 'linux', name: 'ax-rel',    cxx: clang++, image: '2026', abi: 13, build: 'Release', components: 'core,py,bin,test,ax,axbin,axtest', cmake: '' }
          - { os: 'linux', name: 'ax-dbg',    cxx: clang++, image: '2026', abi: 13, build: 'Debug',   components: 'core,py,bin,test,ax,axbin,axtest', cmake: '' }
          - { os: 'linux', name: 'ax-gcc',    cxx: g++,     image: '2026', abi: 13, build: 'Release', components: 'core,py,bin,test,ax,axbin,axtest', cmake: '' }
          - { os: 'linux', name: 'ax-19',     cxx: clang++, image: '2025', abi: 12, build: 'Release', components: 'core,py,bin,test,ax,axbin,axtest', cmake: '' }
          - { os: 'linux', name: 'ax-17',     cxx: clang++, image: '2024', abi: 11, build: 'Release', components: 'core,py,bin,test,ax,axbin,axtest', cmake: '-DDISABLE_DEPENDENCY_VERSION_CHECKS=ON' }
          # For AX builds, to test LLVM 15/16
          - { os: 'linux', name: 'ax-16',     cxx: clang++, image: '2024', abi: 13, build: 'Release', components: 'core,py,ax,axbin,axtest', cmake: '-DDISABLE_DEPENDENCY_VERSION_CHECKS=ON' }
          - { os: 'linux', name: 'ax-15',     cxx: clang++, image: '2023', abi: 13, build: 'Release', components: 'core,py,ax,axbin,axtest', cmake: '-DDISABLE_DEPENDENCY_VERSION_CHECKS=ON' }
          # NanoVDB
          # NOTE: CMAKE_POSITION_INDEPENDENT_CODE set to fix default behaviour change in clang 14
          #   https://github.com/AcademySoftwareFoundation/aswf-docker/issues/228
          - { os: 'linux', name: 'nano-rel',  cxx: clang++, image: '2024', abi: 13, build: 'Release', components: 'core,nano,nanotest,nanotools', cmake: '-DCMAKE_POSITION_INDEPENDENT_CODE=ON -DUSE_BLOSC=OFF -DUSE_EXPLICIT_INSTANTIATION=OFF' }
          - { os: 'linux', name: 'nano-dbg',  cxx: clang++, image: '2024', abi: 13, build: 'Debug',   components: 'core,nano,nanotest,nanotools', cmake: '-DCMAKE_POSITION_INDEPENDENT_CODE=ON -DUSE_BLOSC=OFF -DUSE_EXPLICIT_INSTANTIATION=OFF' }
          - { os: 'linux', name: 'nano-gcc',  cxx: g++,     image: '2024', abi: 13, build: 'Release', components: 'core,nano,nanotest,nanotools', cmake: '-DCMAKE_POSITION_INDEPENDENT_CODE=ON -DUSE_BLOSC=OFF -DUSE_EXPLICIT_INSTANTIATION=OFF' }
          - { os: 'linux', name: 'nano-lite', cxx: clang++, image: '2024', abi: 13, build: 'Release', components: 'nanotest', cmake: '-DNANOVDB_USE_OPENVDB=OFF -DNANOVDB_USE_CUDA=OFF' }
      fail-fast: false
    uses: ./.github/workflows/template-${{ matrix.config.os }}.yaml
    with:
      cxx: ${{ matrix.config.cxx }}
      image: ${{ matrix.config.image }}
      abi: ${{ matrix.config.abi }}
      build: ${{ matrix.config.build }}
      components: ${{ matrix.config.components }}
      cmake: ${{ matrix.config.cmake }}

  # macos-vfx:
  #   if: |
  #     github.event_name != 'workflow_dispatch' ||
  #     github.event.inputs.type == 'all' ||
  #     github.event.inputs.type == 'mac'
  #   strategy:
  #     matrix:
  #       config:
  #         - { image: 'macos-14', build: 'Release', components: 'core,python,bin,test', llvm: '', cmake: '' }
  #         - { image: 'macos-15', build: 'Release', components: 'core,python,bin,test', llvm: '', cmake: '' }
  #         # core,python,ax,axbin,axtest
  #         - { image: 'macos-15', build: 'Release', components: 'core,python,ax,axbin,axtest', llvm: '21' }
  #         - { image: 'macos-14', build: 'Release', components: 'core,python,ax,axbin,axtest', llvm: '21' }
  #         - { image: 'macos-14', build: 'Release', components: 'core,python,ax,axbin,axtest', llvm: '20' }
  #         - { image: 'macos-14', build: 'Release', components: 'core,python,ax,axbin,axtest', llvm: '19' }
  #         - { image: 'macos-14', build: 'Release', components: 'core,python,ax,axbin,axtest', llvm: '18' }
  #         - { image: 'macos-14', build: 'Release', components: 'core,python,ax,axbin,axtest', llvm: '17' }
  #         - { image: 'macos-14', build: 'Release', components: 'core,python,ax,axbin,axtest', llvm: '16' }
  #         - { image: 'macos-latest', build: 'Release', components: 'core,python,ax,axbin,axtest', llvm: '20', cmake: '-DUSE_EXPLICIT_INSTANTIATION=OFF ' }
  #         # Nano
  #         - { image: 'macos-14', build: 'Release', components: 'core,nano,nanotest,nanotools', cmake: '-DCMAKE_INSTALL_PREFIX=${{ github.workspace }}/install -DUSE_EXPLICIT_INSTANTIATION=OFF -DNANOVDB_USE_CUDA=OFF -DNANOVDB_USE_OPENVDB=ON' }
  #         - { image: 'macos-14', build: 'Debug',   components: 'core,nano,nanotest,nanotools', cmake: '-DCMAKE_INSTALL_PREFIX=${{ github.workspace }}/install -DUSE_EXPLICIT_INSTANTIATION=OFF -DNANOVDB_USE_CUDA=OFF -DNANOVDB_USE_OPENVDB=ON' }
  #     fail-fast: false
  #   uses: ./.github/workflows/template-macos.yaml
  #   with:
  #     image: ${{ matrix.config.image }}
  #     build: ${{ matrix.config.build }}
  #     components: ${{ matrix.config.components }}
  #     cmake: ${{ matrix.config.cmake }}
  #     llvm: ${{ matrix.config.llvm }}

  # windows:
  #   # Windows CI. Tests a dynamic build with MD.
  #   if: |
  #     github.event_name != 'workflow_dispatch' ||
  #     github.event.inputs.type == 'all' ||
  #     github.event.inputs.type == 'win'
  #   strategy:
  #     matrix:
  #       config:
  #         # static build of blosc from vcpkg does not build internal sources.
  #         # USE_STATIC_DEPENDENCIES is required for IlmBase/OpenEXR defines and
  #         # Boost as both shared and static libs are installed.
  #         # USE_EXPLICIT_INSTANTIATION is disabled for debug static libraries
  #         # due to disk space constraints
  #         - { vc: 'x64-windows-static', llvm: '', crt: '', build: 'Release', components: 'core,bin,test',        cmake: '-DOPENVDB_CORE_SHARED=OFF -DUSE_STATIC_DEPENDENCIES=ON -DBLOSC_USE_EXTERNAL_SOURCES=ON' }
  #         - { vc: 'x64-windows',        llvm: '', crt: '', build: 'Release', components: 'core,bin,python,test', cmake: '-DOPENVDB_CORE_STATIC=OFF' }
  #         - { vc: 'x64-windows',        llvm: '', crt: '', build: 'Debug',   components: 'core,bin,python,test', cmake: '-DOPENVDB_CORE_STATIC=OFF' }
  #         # AX
  #         # static build of blosc from vcpkg does not build internal sources.
  #         # USE_STATIC_DEPENDENCIES is required for IlmBase/OpenEXR defines and
  #         # Boost as both shared and static libs are installed.
  #         # @todo  We don't currently run the axtests with shared builds of ax
  #         # due to symbol issues using LLVM as a static lib (which is the only
  #         # option on Windows).
  #         # @note  currently only test static builds with MT as building LLVM as
  #         # a shared lib on windows is a bit dicey
  #         - { vc: 'x64-windows-static', llvm: '18.1.0', crt: 'MultiThreaded',      components: 'core,ax,axbin,axtest', build: 'Release', cmake: '-DOPENVDB_AX_TEST_CMD_DOWNLOADS=OFF -DUSE_EXPLICIT_INSTANTIATION=OFF -DOPENVDB_CORE_SHARED=OFF -DOPENVDB_AX_SHARED=OFF -DUSE_STATIC_DEPENDENCIES=ON -DBLOSC_USE_EXTERNAL_SOURCES=ON' }
  #         - { vc: 'x64-windows-static', llvm: '18.1.0', crt: 'MultiThreadedDebug', components: 'core,ax,axbin,axtest', build: 'Debug',   cmake: '-DOPENVDB_AX_TEST_CMD_DOWNLOADS=OFF -DUSE_EXPLICIT_INSTANTIATION=OFF -DOPENVDB_CORE_SHARED=OFF -DOPENVDB_AX_SHARED=OFF -DUSE_STATIC_DEPENDENCIES=ON -DBLOSC_USE_EXTERNAL_SOURCES=ON' }
  #         - { vc: 'x64-windows',        llvm: '18.1.0', crt: 'MultiThreadedDLL',   components: 'core,ax,axbin',        build: 'Release', cmake: '-DOPENVDB_AX_TEST_CMD_DOWNLOADS=OFF -DUSE_EXPLICIT_INSTANTIATION=OFF -DOPENVDB_CORE_STATIC=OFF -DOPENVDB_AX_STATIC=OFF' }
  #         - { vc: 'x64-windows-static', llvm: '15.0.0', crt: 'MultiThreaded',      components: 'core,ax,axbin,axtest', build: 'Release', cmake: '-DOPENVDB_AX_TEST_CMD_DOWNLOADS=OFF -DUSE_EXPLICIT_INSTANTIATION=OFF -DOPENVDB_CORE_SHARED=OFF -DOPENVDB_AX_SHARED=OFF -DUSE_STATIC_DEPENDENCIES=ON -DBLOSC_USE_EXTERNAL_SOURCES=ON' }
  #         # Nano
  #         - { build: 'Release', llvm: '', crt: '', components: 'core,nano,nanotest,nanotools', cmake: '-DDUSE_EXPLICIT_INSTANTIATION=OFF' }
  #         # static build of blosc from vcpkg does not build internal sources.
  #         # USE_STATIC_DEPENDENCIES is required for IlmBase/OpenEXR defines and
  #         # Boost as both shared and static libs are installed.
  #         - { vc: 'x64-windows-static', llvm: '', crt: '', build: 'Release', cmake: '-DOPENVDB_CORE_SHARED=OFF -DUSE_STATIC_DEPENDENCIES=ON -DBLOSC_USE_EXTERNAL_SOURCES=ON -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreaded' }
  #         - { vc: 'x64-windows-static', llvm: '', crt: '', build: 'Debug',   cmake: '-DOPENVDB_CORE_SHARED=OFF -DUSE_STATIC_DEPENDENCIES=ON -DBLOSC_USE_EXTERNAL_SOURCES=ON -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreadedDebug' }
  #         - { vc: 'x64-windows',        llvm: '', crt: '', build: 'Release', cmake: '-DOPENVDB_CORE_STATIC=OFF' }
  #         - { vc: 'x64-windows',        llvm: '', crt: '', build: 'Debug',   cmake: '-DOPENVDB_CORE_STATIC=OFF' }
  #     fail-fast: false
  #   uses: ./.github/workflows/template-windows.yaml
  #   with:
  #     vc: ${{ matrix.config.vc }}
  #     build: ${{ matrix.config.build }}
  #     components: ${{ matrix.config.components }}
  #     cmake: ${{ matrix.config.cmake }}
  #     llvm: ${{ matrix.config.llvm }}
  #     crt: ${{ matrix.config.crt }}

