
name: Build

on:
  pull_request:
    branches:
      - '**'
    paths-ignore:
      - 'CHANGES'
      - 'CODEOWNERS'
      - 'LICENSE'
      - 'doc/**'
      - 'openvdb_maya/**'
      - 'openvdb_wolfram/**'
      - 'pendingchanges/**'
      - 'tsc/**'
      - '**.md'
  schedule:
    # run this workflow Sunday 00:00 UTC
    - cron:  '0 0 * * 0'
  merge_group:
    types: [ checks_requested ]

# Allow subsequent pushes to the same PR or REF to cancel any previous jobs.
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  #############################################################################
  #############################################################################

  linux-on-pr:
    if: github.event_name == 'pull_request' || github.event_name == 'schedule'
    strategy:
      matrix:
        config:
          - { name: 'rel',      cxx: clang++, image: '2026', abi: 13, build: 'Release', components: 'core,py,bin,test,', cmake: '' }
          - { name: 'ax-rel',   cxx: clang++, image: '2026', abi: 13, build: 'Release', components: 'core,py,bin,test,ax,axbin,axtest', cmake: '' }
          - { name: 'nano-rel', cxx: clang++, image: '2024', abi: 13, build: 'Release', components: 'core,nano,nanotest,nanotools', cmake: '-DCMAKE_POSITION_INDEPENDENT_CODE=ON -DUSE_EXPLICIT_INSTANTIATION=OFF' }
          - { name: 'houdini',  cxx: clang++, image: '2026', abi: 12, build: 'Release', components: 'core,hou,bin,view,render,py,test', cmake: '' }
      fail-fast: false
    uses: ./.github/workflows/template-linux.yaml
    with:
      cxx: ${{ matrix.config.cxx }}
      image: ${{ matrix.config.image }}
      abi: ${{ matrix.config.abi }}
      build: ${{ matrix.config.build }}
      components: ${{ matrix.config.components }}
      cmake: ${{ matrix.config.cmake }}

  linux-on-merge:
    if: github.event_name == 'merge_group' || github.event_name == 'schedule'
    strategy:
      matrix:
        config:
          - { name: 'dbg',       cxx: clang++, image: '2026', abi: 13, build: 'Debug',   components: 'core,py,bin,test,', cmake: '-DOPENVDB_ENABLE_ASSERTS=ON' }
          - { name: 'gcc',       cxx: g++,     image: '2026', abi: 13, build: 'Release', components: 'core,py,bin,test,', cmake: '' }
          - { name: '2025',      cxx: clang++, image: '2025', abi: 12, build: 'Release', components: 'core,py,bin,test,', cmake: '' }
          - { name: '2024',      cxx: clang++, image: '2024', abi: 11, build: 'Release', components: 'core,py,bin,test,', cmake: '-DDISABLE_DEPENDENCY_VERSION_CHECKS=ON' }
          # AX
          - { name: 'ax-dbg',    cxx: clang++, image: '2026', abi: 13, build: 'Debug',   components: 'core,py,bin,test,ax,axbin,axtest', cmake: '-DOPENVDB_ENABLE_ASSERTS=ON' }
          - { name: 'ax-gcc',    cxx: g++,     image: '2026', abi: 13, build: 'Release', components: 'core,py,bin,test,ax,axbin,axtest', cmake: '' }
          - { name: 'ax-19',     cxx: clang++, image: '2025', abi: 12, build: 'Release', components: 'core,py,bin,test,ax,axbin,axtest', cmake: '' }
          - { name: 'ax-17',     cxx: clang++, image: '2024', abi: 11, build: 'Release', components: 'core,py,bin,test,ax,axbin,axtest', cmake: '-DDISABLE_DEPENDENCY_VERSION_CHECKS=ON' }
          - { name: 'ax-16',     cxx: clang++, image: '2024', abi: 13, build: 'Release', components: 'core,py,ax,axbin,axtest', cmake: '-DDISABLE_DEPENDENCY_VERSION_CHECKS=ON' }
          - { name: 'ax-15',     cxx: clang++, image: '2023', abi: 13, build: 'Release', components: 'core,py,ax,axbin,axtest', cmake: '-DDISABLE_DEPENDENCY_VERSION_CHECKS=ON' }
          # Houdini
          - { name: 'houdini',   cxx: clang++, image: '2026', abi: 12, build: 'Release', components: 'core,hou,bin,view,render,py,test,axcore,axbin,axtest' }
          - { name: 'houdini',   cxx: g++,     image: '2026', abi: 12, build: 'Release', components: 'core,hou,bin,view,render,py,test,axcore,axbin,axtest' }
          - { name: 'houdini',   cxx: clang++, image: '2024', abi: 11, build: 'Release', components: 'core,hou,bin,view,render,py,test,axcore,axbin,axtest' }
          # NanoVDB
          # NOTE: CMAKE_POSITION_INDEPENDENT_CODE set to fix default behaviour change in clang 14
          #   https://github.com/AcademySoftwareFoundation/aswf-docker/issues/228
          - { name: 'nano-dbg',  cxx: clang++, image: '2024', abi: 13, build: 'Debug',   components: 'core,nano,nanotest,nanotools', cmake: '-DCMAKE_POSITION_INDEPENDENT_CODE=ON -DUSE_BLOSC=OFF -DUSE_EXPLICIT_INSTANTIATION=OFF' }
          - { name: 'nano-gcc',  cxx: g++,     image: '2024', abi: 13, build: 'Release', components: 'core,nano,nanotest,nanotools', cmake: '-DCMAKE_POSITION_INDEPENDENT_CODE=ON -DUSE_BLOSC=OFF -DUSE_EXPLICIT_INSTANTIATION=OFF' }
          - { name: 'nano-lite', cxx: clang++, image: '2024', abi: 13, build: 'Release', components: 'nanotest', cmake: '-DNANOVDB_USE_OPENVDB=OFF -DNANOVDB_USE_CUDA=OFF' }
      fail-fast: false
    uses: ./.github/workflows/template-linux.yaml
    with:
      cxx: ${{ matrix.config.cxx }}
      image: ${{ matrix.config.image }}
      abi: ${{ matrix.config.abi }}
      build: ${{ matrix.config.build }}
      components: ${{ matrix.config.components }}
      cmake: ${{ matrix.config.cmake }}

  linux-on-weekly:
    if: github.event_name == 'schedule'
    strategy:
      matrix:
        config:
          # Core
          - { name: 'all',     cxx: clang++, image: '2026', abi: 13, build: 'Release', components: 'core,py,bin,test', cmake: '-DOPENVDB_PYTHON_WRAP_ALL_GRID_TYPES=ON -DUSE_BLOSC=ON -DUSE_ZLIB=ON -DUSE_EXR=ON -DUSE_PNG=ON -DOPENVDB_SIMD=SSE42 -DOPENVDB_SIMD=AVX'  }
          - { name: 'lite',    cxx: clang++, image: '2026', abi: 13, build: 'Release', components: 'core,py,bin,test', cmake: '-DUSE_BLOSC=OFF -DUSE_ZLIB=OFF -DUSE_EXR=OFF -DUSE_PNG=OFF -DOPENVDB_USE_DELAYED_LOADING=OFF' }
          - { name: 'half',    cxx: clang++, image: '2026', abi: 13, build: 'Release', components: 'core,py,bin,test', cmake: '-DUSE_IMATH_HALF=ON' }
          - { name: 'asan',    cxx: clang++, image: '2026', abi: 13, build: 'asan',    components: 'core,test',        cmake: '-DDISABLE_DEPENDENCY_VERSION_CHECKS=ON -DNANOVDB_USE_OPENVDB=ON -DOPENVDB_AX_STATIC=OFF -DOPENVDB_CORE_STATIC=OFF -DUSE_BLOSC=OFF' } # We never called blosc_destroy(), so disable blosc to silence these errors
          - { name: 'ubsan',   cxx: clang++, image: '2026', abi: 13, build: 'ubsan',   components: 'core,test',        cmake: '-DDISABLE_DEPENDENCY_VERSION_CHECKS=ON -DCMAKE_CXX_FLAGS="-Wno-deprecated-declarations" ' }
          - { name: 'c++20',   cxx: clang++, image: '2026', abi: 13, build: 'Release', components: 'core,test',        cmake: '-DCMAKE_CXX_STANDARD=20' }
          - { name: 'conf',    cxx: clang++, image: '2026', abi: 13, build: 'Release', components: 'core',             cmake: '-DCMAKE_FIND_PACKAGE_PREFER_CONFIG=ON' }
          # Houdini
          - { name: 'houdini', cxx: clang++, image: '2026', abi: 12, build: 'Debug',   components: 'core,hou,bin,view,render,py,test,axcore,axbin,axtest' }
          - { name: 'houdini', cxx: g++,     image: '2024', abi: 11, build: 'Release', components: 'core,hou,bin,view,render,py,test,axcore,axbin,axtest' }
      fail-fast: false
    uses: ./.github/workflows/template-linux.yaml
    with:
      cxx: ${{ matrix.config.cxx }}
      image: ${{ matrix.config.image }}
      abi: ${{ matrix.config.abi }}
      build: ${{ matrix.config.build }}
      components: ${{ matrix.config.components }}
      cmake: ${{ matrix.config.cmake }}

  #############################################################################
  #############################################################################

  macos-on-pr:
    if: github.event_name == 'pull_request' || github.event_name == 'schedule'
    strategy:
      matrix:
        config:
          - { name: 'rel',      image: 'macos-15', build: 'Release', components: 'core,py,bin,test', llvm: '', cmake: '' }
          - { name: 'ax-rel',   image: 'macos-15', build: 'Release', components: 'core,py,ax,axbin,axtest', llvm: '21' }
          - { name: 'nano-rel', image: 'macos-14', build: 'Release', components: 'core,nano,nanotest,nanotools', cmake: '-DCMAKE_INSTALL_PREFIX=${{ github.workspace }}/install -DUSE_EXPLICIT_INSTANTIATION=OFF -DNANOVDB_USE_CUDA=OFF -DNANOVDB_USE_OPENVDB=ON' }
      fail-fast: false
    uses: ./.github/workflows/template-macos.yaml
    with:
      image: ${{ matrix.config.image }}
      build: ${{ matrix.config.build }}
      components: ${{ matrix.config.components }}
      cmake: ${{ matrix.config.cmake }}
      llvm: ${{ matrix.config.llvm }}

  macos-on-weekly:
    if: github.event_name == 'schedule'
    strategy:
      matrix:
        config:
          # Core
          - { name: 'rel-mos14',    image: 'macos-14', build: 'Release', components: 'core,py,bin,test', llvm: '', cmake: '' }
          # AX
          - { name: 'ax-rel-mos14', image: 'macos-14', build: 'Release', components: 'core,py,ax,axbin,axtest', llvm: '21' }
          - { name: 'ax-rel-20',    image: 'macos-15', build: 'Release', components: 'core,py,ax,axbin,axtest', llvm: '20' }
          - { name: 'ax-rel-19',    image: 'macos-15', build: 'Release', components: 'core,py,ax,axbin,axtest', llvm: '19' }
          - { name: 'ax-rel-18',    image: 'macos-15', build: 'Release', components: 'core,py,ax,axbin,axtest', llvm: '18' }
          - { name: 'ax-rel-17',    image: 'macos-15', build: 'Release', components: 'core,py,ax,axbin,axtest', llvm: '17' }
          - { name: 'ax-rel-16',    image: 'macos-15', build: 'Release', components: 'core,py,ax,axbin,axtest', llvm: '16' }
          # Nano
          - { name: 'nano-mos14',   image: 'macos-14', build: 'Release', components: 'core,nano,nanotest,nanotools', cmake: '-DCMAKE_INSTALL_PREFIX=${{ github.workspace }}/install -DUSE_EXPLICIT_INSTANTIATION=OFF -DNANOVDB_USE_CUDA=OFF -DNANOVDB_USE_OPENVDB=ON' }
          - { name: 'nano-mos14',   image: 'macos-14', build: 'Debug',   components: 'core,nano,nanotest,nanotools', cmake: '-DCMAKE_INSTALL_PREFIX=${{ github.workspace }}/install -DUSE_EXPLICIT_INSTANTIATION=OFF -DNANOVDB_USE_CUDA=OFF -DNANOVDB_USE_OPENVDB=ON' }
      fail-fast: false
    uses: ./.github/workflows/template-macos.yaml
    with:
      image: ${{ matrix.config.image }}
      build: ${{ matrix.config.build }}
      components: ${{ matrix.config.components }}
      cmake: ${{ matrix.config.cmake }}
      llvm: ${{ matrix.config.llvm }}

  #############################################################################
  #############################################################################

  win-on-pr:
    if: github.event_name == 'pull_request' || github.event_name == 'schedule'
    strategy:
      matrix:
        config:
          - { name: 'rel',      vc: 'x64-windows',        llvm: '',       build: 'Release', components: 'core,bin,py,test', cmake: '' }
          - { name: 'ax-rel',   vc: 'x64-windows-static', llvm: '18.1.0', build: 'Release', components: 'core,ax,axbin,axtest', cmake: '' }
          - { name: 'nano-rel', vc: 'x64-windows',        llvm: '',       build: 'Release', components: 'core,nano,nanotest,nanotools', cmake: '' }
      fail-fast: false
    uses: ./.github/workflows/template-windows.yaml
    with:
      vc: ${{ matrix.config.vc }}
      build: ${{ matrix.config.build }}
      components: ${{ matrix.config.components }}
      cmake: ${{ matrix.config.cmake }}
      llvm: ${{ matrix.config.llvm }}

  win-on-merge:
    if: github.event_name == 'merge_group' || github.event_name == 'schedule'
    strategy:
      matrix:
        config:
          - { name: 'rel-static', vc: 'x64-windows-static', llvm: '', build: 'Release', components: 'core,bin,test',    cmake: '' }
          - { name: 'rel-dbg',    vc: 'x64-windows',        llvm: '', build: 'Debug',   components: 'core,bin,py,test', cmake: '-DDOPENVDB_ENABLE_ASSERTS=ON' }
          # AX
          # @todo  We don't currently run the axtests with shared builds of ax
          # due to symbol issues using LLVM as a static lib (which is the only
          # option on Windows).
          # @note  currently only test static builds with MT as building LLVM as
          # a shared lib on windows is a bit dicey
          - { name: 'ax-shared', vc: 'x64-windows',        llvm: '18.1.0', build: 'Release', components: 'core,ax,axbin',        cmake: '' }
          - { name: 'ax-dbg',    vc: 'x64-windows-static', llvm: '18.1.0', build: 'Debug',   components: 'core,ax,axbin,axtest', cmake: '' }
          - { name: 'ax-15',     vc: 'x64-windows-static', llvm: '15.0.0', build: 'Release', components: 'core,ax,axbin,axtest', cmake: '' }
          # Nano
          - { name: 'nano-static-rel', vc: 'x64-windows-static', llvm: '', build: 'Release', components: 'core,nano,nanotest,nanotools', cmake: '' }
          - { name: 'nano-static-dbg', vc: 'x64-windows-static', llvm: '', build: 'Debug',   components: 'core,nano,nanotest,nanotools', cmake: '' }
          - { name: 'nano-dbg',        vc: 'x64-windows',        llvm: '', build: 'Debug',   components: 'core,nano,nanotest,nanotools', cmake: '' }
      fail-fast: false
    uses: ./.github/workflows/template-windows.yaml
    with:
      vc: ${{ matrix.config.vc }}
      build: ${{ matrix.config.build }}
      components: ${{ matrix.config.components }}
      cmake: ${{ matrix.config.cmake }}
      llvm: ${{ matrix.config.llvm }}

