
name: Build

on:
  push:
    branches:
      - 'master'
      - 'feature/**'
      - 'pr/**'
    paths-ignore:
      - 'CHANGES'
      - 'CODEOWNERS'
      - 'doc/**'
      - 'openvdb_maya/**'
      - 'openvdb_houdini/**'
      - 'openvdb_ax/**'
      - 'nanovdb/**'
      - 'fvdb/**'
      - 'pendingchanges/**'
      - '**.md'
  pull_request:
    branches:
      - '**'
    paths-ignore:
      - 'CHANGES'
      - 'CODEOWNERS'
      - 'doc/**'
      - 'openvdb_maya/**'
      - 'openvdb_houdini/**'
      - 'openvdb_ax/**'
      - 'nanovdb/**'
      - 'fvdb/**'
      - 'pendingchanges/**'
      - '**.md'
  schedule:
    # run this workflow every day 7am UTC
    - cron:  '0 7 * * *'
  workflow_dispatch:
    inputs:
      type:
        description: 'The type of CI to run (all, linux, win, mac)'
        required: true
        default: 'all'

# Allow subsequent pushes to the same PR or REF to cancel any previous jobs.
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  linux-vfx:
    if: |
      github.event_name != 'workflow_dispatch' ||
      github.event.inputs.type == 'all' ||
      github.event.inputs.type == 'linux'
    strategy:
      matrix:
        config:
          - { cxx: clang++, image: '2026',           abi: '13', build: 'Release', cmake: '' }
          - { cxx: g++,     image: '2026',           abi: '13', build: 'Release', cmake: '' }
          - { cxx: clang++, image: '2026',           abi: '13', build: 'Debug',   cmake: '' }
          - { cxx: clang++, image: '2025-clang19.1', abi: '12', build: 'Release', cmake: '' }
          - { cxx: clang++, image: '2024-clang17.2', abi: '11', build: 'Release', cmake: '-DDISABLE_DEPENDENCY_VERSION_CHECKS=ON' }
    uses: ./.github/workflows/core.yaml
    with:
      cxx: ${{ matrix.config.cxx }}
      image: ${{ matrix.config.image }}
      abi: ${{ matrix.config.abi }}
      build: ${{ matrix.config.build }}
      cmake: ${{ matrix.config.cmake }}

  windows:
    # Windows CI. Tests a dynamic build with MD.
    if: |
      github.event_name != 'workflow_dispatch' ||
      github.event.inputs.type == 'all' ||
      github.event.inputs.type == 'win'
    runs-on: ${{ (github.repository_owner == 'AcademySoftwareFoundation' && 'windows-2022-8c-32g-300h') || 'windows-latest' }}
    name: windows
    env:
      VCPKG_DEFAULT_TRIPLET: x64-windows
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v3
    - name: path
      shell: pwsh
      run: |
        # note: system path must be modified in a previous step to it's use
        echo "$Env:VCPKG_INSTALLATION_ROOT\installed\x64-windows\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
        echo "${{github.workspace}}\build\openvdb\openvdb\Release" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
    - name: install
      shell: powershell
      run: .\ci\install_windows.ps1
    - name: install_numpy
      shell: powershell
      run: .\ci\install_windows_numpy.ps1
    - name: build
      run: >
        ./ci/build.sh -v
        --config='Release'
        --components='core,bin,view,render,python,test'
        --cargs=\'
        -A x64 -G \"Visual Studio 17 2022\" -DOPENVDB_CORE_STATIC=OFF
        -DMSVC_COMPRESS_PDB=ON
        -DUSE_EXR=ON
        -DUSE_PNG=ON
        -DVCPKG_TARGET_TRIPLET=${VCPKG_DEFAULT_TRIPLET}
        -DCMAKE_TOOLCHAIN_FILE=\"${VCPKG_INSTALLATION_ROOT}\\scripts\\buildsystems\\vcpkg.cmake\"
        \'
    - name: size
      # Print the build directy size (monitor if we're hitting runner limits)
      run: du -h build
    - name: test
      run: cd build && ctest -V -C Release

  macos:
    if: |
      github.event_name != 'workflow_dispatch' ||
      github.event.inputs.type == 'all' ||
      github.event.inputs.type == 'mac'
    runs-on: ${{ matrix.config.image }}
    name: ${{ matrix.config.image }}
    env:
      CXX: clang++
    strategy:
      matrix:
        config:
          - { image: macos-14 }
          - { image: macos-15 }
    steps:
    - uses: actions/checkout@v3
    - name: install
      run: |
        ./ci/install_macos.sh
        ./ci/install_tbb_macos.sh
    - name: build
      run: >
        ./ci/build.sh -v
        --build-type=Release
        --components=\"core,python,bin,view,render,test\"
        --cargs=\'
        -DCMAKE_INSTALL_PREFIX=${{ github.workspace }}/install
        \'
    - name: test
      run: cd build && ctest -V

