name: OpenVDB Linux Build

on:
  workflow_call:
    inputs:
      name:
        required: false
        default: 'linux'
        type: string
      cxx:
        required: false
        default: 'clang++'
        type: string
      image:
        required: false
        default: '2026'
        type: string
      abi:
        required: false
        default: 13
        type: number
      components:
        required: false
        default: 'core'
        type: string
      build:
        required: false
        default: 'Release'
        type: string
      cmake:
        required: false
        type: string

jobs:
  linux:
    if: ${{ !contains(inputs.components, 'hou') }}
    runs-on: ${{ (github.repository_owner == 'AcademySoftwareFoundation' && 'ubuntu-22.04-8c-32g-300h') || 'ubuntu-latest' }}
    name: ${{ inputs.name }}
    container:
      image: aswf/ci-openvdb:${{ inputs.image }}
    env:
      CXX: ${{ inputs.cxx }}
      CCACHE_DIR: /tmp/ccache
    steps:
    - uses: actions/checkout@v3
    # Install nanobind if the python module has been requested
    - name: nanobind
      if: contains(inputs.components, 'py')
      run: ./ci/install_nanobind.sh 2.5.0
    # Install cuda if nanovdb has been requested
    - name: setup_cuda_12
      if: contains(inputs.components, 'nano')
      run: |
        echo "/usr/local/cuda-12/bin" >> $GITHUB_PATH
        echo "LD_LIBRARY_PATH=/usr/local/cuda-12/lib64:$LD_LIBRARY_PATH" >> $GITHUB_ENV
    # Initialize ccache
    - name: timestamp
      id: timestamp
      run: echo "timestamp=$(date -u +'%Y-%m-%dT%H:%M:%SZ')" >> $GITHUB_OUTPUT
    - name: ccache
      # don't use ccache for debug builds
      if: inputs.build == 'Release'
      id: ccache
      uses: actions/cache@v3
      with:
        path: /tmp/ccache
        key: linux-vfx${{ inputs.image }}-abi${{ inputs.abi }}-${{ inputs.cxx }}-${{ steps.timestamp.outputs.timestamp }}
        restore-keys: linux-vfx${{ inputs.image }}-abi${{ inputs.abi }}-${{ inputs.cxx }}-
    # Build
    - name: build
      run: >
        ./ci/build.sh -v
        --build-type=${{ inputs.build }}
        --components=\"${{ inputs.components }}\"
        --cargs=\"  \
          `################## Default CMake args for all components ##################` \
          -DOPENVDB_CXX_STRICT=ON  \
          `################## Default CMake args for AX components ###################` \
          -DOPENVDB_AX_TEST_CMD_DOWNLOADS=ON  \
          -DOPENVDB_ABI_VERSION_NUMBER=${{ inputs.abi }}  \
          `################## Default CMake args for NanoVDB components ##############` \
          -DNANOVDB_USE_CUDA=ON  \
          -DNANOVDB_USE_OPENVDB=ON  \
          -DCMAKE_CUDA_ARCHITECTURES="80"  \
          `################## Input CMake args (can override the above) ###############` \
          ${{ inputs.cmake }} \
        \"
    # Test
    - name: test
      run: |
        cd build && ctest -V -E ".*cuda.*|.*mgpu.*"
        cd - && ./ci/test_install.sh
    # Run AX doxygen tests if requested
    - name: test_ax_doxygen_examples
      if: contains(inputs.components, 'ax')
      run: ./ci/extract_test_examples.sh
    # Keep ccache light by stripping out any caches not accessed in the last day
    - name: ccache_clean
      if: inputs.build == 'Release'
      run: ccache --evict-older-than 1d

  checksecret:
    if: contains(inputs.components, 'hou')
    # Check that valid github secrets have been set. This isn't needed to retrieve
    # the cache, but ensures that the job doens't start with an empty cache
    name: Verify Houdini Secrets
    runs-on: ubuntu-latest
    outputs:
      HOUDINI_SECRETS: ${{ steps.check.outputs.HOUDINI_SECRETS }}
    steps:
      - id: check
        env:
            HOUDINI_CLIENT_ID: ${{ secrets.HOUDINI_CLIENT_ID }}
            HOUDINI_SECRET_KEY: ${{ secrets.HOUDINI_SECRET_KEY }}
        run: |
          echo "HOUDINI_SECRETS=${{ env.HOUDINI_CLIENT_ID != '' && env.HOUDINI_SECRET_KEY != '' }}" >> $GITHUB_OUTPUT
          echo "H_VERSION=${{ inputs.abi == 12 && '21_0' || inputs.abi == 11 && '20_5' || 'INVALID' }}" >> $GITHUB_OUTPUT
      - name: Skip Next Jobs
        if: steps.check.outputs.HOUDINI_SECRETS != 'true'
        run: echo "HOUDINI_CLIENT_ID and HOUDINI_SECRET_KEY GitHub Action Secrets needs to be set to install Houdini builds"

  linux-houdini:
    needs: [checksecret]
    if: >
      ${{ contains(inputs.components, 'hou') && (needs.checksecret.outputs.HOUDINI_SECRETS == 'true' ||
          github.repository_owner == 'AcademySoftwareFoundation') }}
    runs-on: ${{ (github.repository_owner == 'AcademySoftwareFoundation' && 'ubuntu-22.04-8c-32g-300h') || 'ubuntu-latest' }}
    name: ${{ inputs.name }}
    container:
      image: aswf/ci-base:${{ inputs.image }}
    env:
      CXX: ${{ inputs.cxx }}
      CCACHE_DIR: /tmp/ccache
    steps:
    - uses: actions/checkout@v3
    # Install nanobind if the python module has been requested
    - name: nanobind
      if: contains(inputs.components, 'py')
      run: ./ci/install_nanobind.sh 2.5.0
    # Fetch/install houdini if hou has been requested
    # Make sure that the unpacked install is NOT in the root of the OpenVDB checkout
    # otherwise CMake's install RPATHs wil not work correctly.
    - name: fetch_houdini
      uses: actions/cache/restore@v3
      with:
        path: hou
        key: dummy-houdini${{ needs.checksecret.outputs.H_VERSION }}-${{ steps.timestamp.outputs.timestamp }}
        restore-keys: vdb-v5-houdini${{ needs.checksecret.outputs.H_VERSION }}-
    - name: install_houdini
      run: |
        test -f "hou/hou.tar.gz"
        mkdir $HOME/houdini_install
        cp hou/hou.tar.gz $HOME/houdini_install/hou.tar.gz
        cd $HOME/houdini_install && tar -xzf hou.tar.gz && cd -
    # Initialize ccache
    - name: timestamp
      id: timestamp
      run: echo "timestamp=$(date -u +'%Y-%m-%dT%H:%M:%SZ')" >> $GITHUB_OUTPUT
    - name: ccache
      # don't use ccache for debug builds
      if: inputs.build == 'Release'
      id: ccache
      uses: actions/cache@v3
      with:
        path: /tmp/ccache
        key: linux-vfx-hou${{ needs.checksecret.outputs.H_VERSION }}-${{ inputs.image }}-${{ inputs.cxx }}-${{ steps.timestamp.outputs.timestamp }}
        restore-keys: linux-vfx-hou${{ needs.checksecret.outputs.H_VERSION }}-${{ inputs.image }}-${{ inputs.cxx }}-
    # Build
    - name: build
      run: >
        ./ci/build.sh -v
        --build-type=${{ inputs.build }}
        --components=\"${{ inputs.components }}\"
        --cargs=\"  \
          `################## Default CMake args for all components ##################` \
          -DOPENVDB_CXX_STRICT=ON  \
          `################## Default CMake args for Houdini components ###############` \
          -DHOUDINI_ROOT=$HOME/houdini_install/hou  \
          -DOPENVDB_BUILD_HOUDINI_ABITESTS=OFF \
          -DOPENVDB_HOUDINI_INSTALL_PREFIX=/tmp \
          -DDISABLE_CMAKE_SEARCH_PATHS=ON \
          -DDISABLE_DEPENDENCY_VERSION_CHECKS=ON \
          `################## Input CMake args (can override the above) ###############` \
          ${{ inputs.cmake }} \
        \"
    # Test
    - name: test
      run: cd build && ctest -V
    # Keep ccache light by stripping out any caches not accessed in the last day
    - name: ccache_clean
      if: inputs.build == 'Release'
      run: ccache --evict-older-than 1d

